.App {
  text-align: center;
}

.array-row {
  display: flex;
  gap: 10px;
  margin: 20px;
  align-items: center;
  justify-items: center;
}

.content {
  margin-top: 5%;
}

input {
  text-align: center;
}

button {
  width: 100px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

ul li {
  margin: 5px 0;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
